html,
body {
    min-height: 100%;
}

body,
div,
form,
input,
p {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #666;
    line-height: 28px;
}

h1 {
    font-weight: 400;
}

h3, h4 {
    margin: 25px 0 5px;
}

.testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 3px;
}

form {
    width: 50%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px #ccc;
}

input {
    width: auto;
    margin-right: 15px;
    vertical-align: middle;
}

.question-answer label {
    display: block;
}

textarea {
    width: calc(100% - 12px);
    padding: 5px;
}

textarea:hover {
    outline: none;
    border: 1px solid #095484;
}

.btn-block {
    margin-top: 20px;
    text-align: center;
}

button {
    width: 150px;
    padding: 10px;
    border: none;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0666a3;
}

.banner {
    position: relative;
    height: 250px;
    background-image: url("./images/img_20221025080747.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
}

.testbox {
     display: flex;
     justify-content: center;
     align-items: center;
     height: inherit;
     padding: 20px;
 }

.btn-block {
     margin-top: 10px;
     text-align: center;
 }

.title {
     text-align: center;
     color: rgba(50, 96, 168, 0.94);
     margin-bottom: 40px;
 }

.score {
     color: rgb(52, 96, 168);
     margin-bottom: 20px;
 }

.description {
     font-style: italic;
 }